---
import Master from "../layouts/Master.astro";

const sections = ["cards", "buttons"];
---

<Master title="Welcome to Astro.">
	<main class="container grid grid-cols-1 gap-12">
		<section class="prose max-w-none lg:prose-xl pt-8">
			<header>
				<h1>Astro + Tailwindcss, Neubruatlist UI Kit</h1>
			</header>
			<p>
				To get started, open the directory <code>src/pages</code> in your project.<br
				/>
				<strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
			</p>
			<h2>Table of contents</h2>
			<ul class="list not-prose">
				<li class="list-none border-b last:border-b-0">
					<a
						href="components"
						class="text-sm p-3 w-full block primary-transition"
					>
						Overview
					</a>
				</li>
				{
					sections.map((item) => (
						<li class="list-none border-b last:border-b-0">
							<a
								href={"/components/" + item}
								class="text-sm p-3 w-full block primary-transition"
							>
								{item.charAt(0).toUpperCase() + item.slice(1)}
							</a>
						</li>
					))
				}
			</ul>
		</section>
	</main>
</Master>
