---
import Master from "../layouts/Master.astro";
import Card from "../components/Card.astro";
---

<Master title="Welcome to Astro.">
	<main class="container">
		<section class="prose prose-h1:text-6xl max-w-none prose-p:text-xl">
			<h1>Astro + Tailwindcss, Neubruatlist UI Kit</h1>
			<p>
				To get started, open the directory <code>src/pages</code> in your project.<br
				/>
				<strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
			</p>
		</section>
	</main>
</Master>
